@use 'src/styles/theme/color' as c;

.container {
  margin-top: 50px;
  width: 48%;
  height: 200px;
  padding: 10px;
  border-radius: 15px;
  box-shadow: 0px 0px 5px c.$C_SUB;

  .title {
    font-size: 24px;
    font-weight: 600;
    border-bottom: 1px solid c.$C_SUB;
  }

  .iconContainer {
    width: 20%;
    height: 140px;
    border-right: 1px solid c.$C_SUB;
    text-align: center;
  }

  .textContainer {
    display: grid;
    width: 75%;
    height: 140px;
    grid-template-columns: 1fr 1fr;
    margin-left: 15px;
    font-size: 20px;
    align-items: center;
    font-weight: 500;
  }
}
