@use 'src/styles/theme/color' as c;

.container {
  width: 100%;
  height: fit-content;
  padding: 50px calc((100vw - 1024px) / 2);

  .title {
    font-size: 32px;
    font-weight: 700;
  }

  .block {
    height: min-content;
    padding: 50px 0;

    .skillContainer {
      display: flex;
      justify-content: space-between;
    }

    .dialogContainer {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      margin-bottom: 50px;
      .emphasis {
        font-weight: 600;
        color: c.$C_POINT;
      }
    }
  }
}
