@use 'src/styles/theme/color' as c;

.container {
  padding: 70px calc((100vw - 1024px) / 2);
  display: flex;
  align-items: center;
  border-bottom: 1px solid c.$C_SUB;

  .introduce {
    width: 50%;
    padding: 100px 0;

    .title {
      font-size: 30px;
      font-weight: 700;
    }

    .subTitle {
      margin-top: 25px;
      font-size: 24px;
      font-weight: 400;
      color: c.$C_SUB;
    }

    .profile {
      margin-top: 35px;
      width: 300px;
      height: 300px;
      border-radius: 50%;
      overflow: hidden;
      box-shadow: 0px 0px 5px c.$C_SUB;
    }
  }

  .career {
    width: 50%;

    .inline {
      display: flex;
      gap: 10px;
      font-size: 20px;
      font-weight: 300;
      margin-bottom: 16px;
    }
  }
}
