@use 'src/styles/theme/color' as c;

.container {
  display: flex;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 60px;
  justify-content: right;
  background-color: black;
  padding: 0 calc((100vw - 1024px) / 2);

  .logo {
    position: absolute;
    top: 18px;
    left: calc((100vw - 1024px) / 2);
    color: c.$C_WHITE;
    font-size: 30px;
  }

  .nav {
    right: calc((100vw - 1024px) / 2);
    display: flex;
    justify-content: space-between;
    gap: 70px;

    .button {
      font-size: 18px;
      padding: 22px 5px 32px 5px;

      &.first {
        &.active {
          border-bottom: 6px solid c.$C_POINT;
        }
      }

      &.second {
        padding-left: 30px;
        padding-right: 30px;
        &.active {
          background-color: c.$C_POINT;
        }
      }

      &.third {
        margin-top: 15px;
        height: 30px;
        padding: 5px 15px;
        &.active {
          background-color: c.$C_POINT;
          border-radius: 15px;
        }
      }
    }
  }
}
