@use 'src/styles/theme/color' as c;

.container {
  align-items: center;
  background-color: c.$C_BG_FOOTER;
  color: c.$C_TXT_FOOTER;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  row-gap: 10px;
  padding-top: 30px;

  .left {
    display: flex;
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    margin-left: 15%;
    z-index: 3;
    align-items: center;

    .logoWrapper {
      width: 40px;
      height: 40px;
      overflow: hidden;
      margin-right: 5px;

      .logo {
        margin-left: -40px;
        margin-top: -40px;
      }
    }

    .slogan {
      display: flex;
      font-size: 14px;
      border-right: solid 1px c.$C_WHITE;
      padding-right: 10px;
      align-items: center;
    }

    .icon {
      width: 15px;
      height: 15px;
      margin-left: 10px;
    }
  }

  .center {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    text-align: center;
  }

  .right {
    grid-column: 3 / 3;
    grid-row: 1 / 2;
    text-align: center;
  }

  .copyright {
    grid-column: 2 / 2;
    grid-row: 2 / 3;
    text-align: center;
    padding-bottom: 5px;
  }
}
